   {% load static %}
    <!-- footer start-->
    <footer class="page-footer"><img class="section--bg b0 r0" src="{% static 'img/footer-bg.png' %}" alt="bg"/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h6 class="page-footer__title title--white">Discover</h6>
                    <ul class="page-footer__menu list--reset">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Pricing plan</a></li>
                        <li><a href="#">Elements</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Warehouse</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Calculator</a></li>
                        <li><a href="#">Site map</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 top-40 top-md-0">
                    <h6 class="page-footer__title title--white">USA office</h6>
                    <div class="page-footer__details">
                        <p><strong>Location:</strong> <span>av. Washington 165, NY CA 54003</span></p>
                        <p><strong>Phone:</strong> <a href="tel:+31859644725">+31 85 964 47 25</a> <a
                                href="tel:+31859644725">+31 65 792 63 11</a></p>
                        <p><strong>Email:</strong> <a href="mailto:info@transx.com">info@transx.com</a></p>
                        <p><strong>Openning hours:</strong> <span>9:00 AM - 5:00 PM</span></p>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-column justify-content-between align-items-sm-center align-items-lg-end top-40 top-lg-0">
                    <div class="page-footer__logo"><a href="index.html"><img src="{% static 'img/logo_white.png' %}" alt="logo"/></a>
                    </div>
                    <ul class="socials list--reset">
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#inst"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="row top-50">
                <div class="col-lg-6 text-sm-center text-lg-left">
                    <div class="page-footer__privacy"><a href="#">Terms and conditions</a><a href="#">Privacy policy</a><a
                            href="#">Cookies</a></div>
                </div>
                <div class="col-lg-6 text-sm-center text-lg-right">
                    <div class="page-footer__copyright">© 2020 TransX. All rights reserved</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end-->