  {% load static %}
    <!-- menu dropdown start-->
    <div class="menu-dropdown">
        <div class="menu-dropdown__inner" data-value="start">
            <div class="screen screen--start">
                <div class="menu-dropdown__close">
                    <svg class="icon">
                        <use xlink:href="#close"></use>
                    </svg>
                </div>
                <div class="d-block d-lg-none bottom-20">
                    <div class="screen__item screen--trigger item--active" data-category="screen-one">
                        <span>Home</span><span>
								<svg class="icon">
									<use xlink:href="#chevron-right"></use>
								</svg></span></div>
                    <div class="screen__item screen--trigger" data-category="screen-two"><span>Pages</span><span>
								<svg class="icon">
									<use xlink:href="#chevron-right"></use>
								</svg></span></div>
                    <div class="screen__item screen--trigger" data-category="screen-three"><span>Services</span><span>
								<svg class="icon">
									<use xlink:href="#chevron-right"></use>
								</svg></span></div>
                    <div class="screen__item screen--trigger" data-category="screen-five"><span>Shop</span><span>
								<svg class="icon">
									<use xlink:href="#chevron-right"></use>
								</svg></span></div>
                    <div class="screen__item screen--trigger" data-category="screen-four"><span>Elements</span><span>
								<svg class="icon">
									<use xlink:href="#chevron-right"></use>
								</svg></span></div>
                </div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Documents</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Information</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Additional docs</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Pricing</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Downloads</a></div>
                <div class="screen__item screen--trigger d-flex d-lg-none" data-category="screen-six">
                    <span>Language</span><span>
							<svg class="icon">
								<use xlink:href="#chevron-right"></use>
							</svg></span></div>
                <div class="menu-dropdown__block top-50"><span class="block__title">Email</span><a class="screen__link"
                                                                                                   href="mailto:support@helpo.org">support@helpo.org</a>
                </div>
                <div class="menu-dropdown__block top-20"><span class="block__title">Phone numbers</span><a
                        class="screen__link" href="tel:+180012345678">+ 1800 - 123 456 78</a><a class="screen__link"
                                                                                                href="tel:+18009756511">+
                    1800 - 975 65 11</a></div>
                <div class="menu-dropdown__block">
                    <ul class="socials list--reset">
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a></li>
                        <li class="socials__item"><a class="socials__link" href="#">
                            <svg class="icon">
                                <use xlink:href="#inst"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
                <div class="menu-dropdown__block top-50"><a class="button button--filled" href="#">Get a Quote</a>
                </div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-one">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Home</span>
                    </h6>
                </div>
                <div class="screen__item item--active"><a class="screen__link" href="index.html">Home 1</a></div>
                <div class="screen__item"><a class="screen__link" href="front_2.html">Home 2</a></div>
                <div class="screen__item"><a class="screen__link" href="front_3.html">Home 3</a></div>
                <div class="screen__item"><a class="screen__link" href="front_4.html">Home 4</a></div>
                <div class="screen__item"><a class="screen__link" href="front_5.html">Home 5</a></div>
                <div class="screen__item"><a class="screen__link" href="front_6.html">Home 6</a></div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-two">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Pages</span>
                    </h6>
                </div>
                <div class="screen__item"><a class="screen__link" href="about.html">About</a></div>
                <div class="screen__item"><a class="screen__link" href="team.html">Team</a></div>
                <div class="screen__item"><a class="screen__link" href="services.html">Services</a></div>
                <div class="screen__item"><a class="screen__link" href="service-details.html">Service Details</a></div>
                <div class="screen__item"><a class="screen__link" href="careers.html">Сareers</a></div>
                <div class="screen__item"><a class="screen__link" href="warehouse.html">Warehouse</a></div>
                <div class="screen__item"><a class="screen__link" href="request.html">Request Quote</a></div>
                <div class="screen__item"><a class="screen__link" href="calculator.html">Calculator</a></div>
                <div class="screen__item"><a class="screen__link" href="documents.html">Documents</a></div>
                <div class="screen__item"><a class="screen__link" href="trucks.html">Trucks</a></div>
                <div class="screen__item"><a class="screen__link" href="locations.html">Locations</a></div>
                <div class="screen__item"><a class="screen__link" href="contacts.html">Contacts</a></div>
                <div class="screen__item"><a class="screen__link" href="gallery.html">Gallery Masonry</a></div>
                <div class="screen__item"><a class="screen__link" href="gallery_2.html">Gallery Grid</a></div>
                <div class="screen__item"><a class="screen__link" href="blog.html">Blog</a></div>
                <div class="screen__item"><a class="screen__link" href="blog-post.html">Blog Post</a></div>
                <div class="screen__item"><a class="screen__link" href="faq.html">F.A.Q</a></div>
                <div class="screen__item"><a class="screen__link" href="404.html">404</a></div>
                <div class="screen__item"><a class="screen__link" href="typography.html">Typography</a></div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-three">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Services</span>
                    </h6>
                </div>
                <div class="screen__item"><a class="screen__link" href="service-details.html">Truck Freight</a></div>
                <div class="screen__item"><a class="screen__link" href="service-details.html">Ship Freight</a></div>
                <div class="screen__item"><a class="screen__link" href="service-details.html">Plane Freight</a></div>
                <div class="screen__item"><a class="screen__link" href="service-details.html">Train Freight</a></div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-four">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Elements</span>
                    </h6>
                </div>
                <div class="screen__item"><a class="screen__link" href="accordion.html">Accordion</a></div>
                <div class="screen__item"><a class="screen__link" href="alerts.html">Alerts</a></div>
                <div class="screen__item"><a class="screen__link" href="counters.html">Counters</a></div>
                <div class="screen__item"><a class="screen__link" href="tabs.html">Tabs</a></div>
                <div class="screen__item"><a class="screen__link" href="pricing.html">Pricing</a></div>
                <div class="screen__item"><a class="screen__link" href="tables.html">Tables</a></div>
                <div class="screen__item"><a class="screen__link" href="forms.html">Forms</a></div>
                <div class="screen__item"><a class="screen__link" href="info-blocks.html">Info Blocks</a></div>
                <div class="screen__item"><a class="screen__link" href="icons.html">Icons</a></div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-five">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Shop</span>
                    </h6>
                </div>
                <div class="screen__item"><a class="screen__link" href="shop.html">Shop</a></div>
                <div class="screen__item"><a class="screen__link" href="shop-single.html">Shop Single</a></div>
                <div class="screen__item"><a class="screen__link" href="shop-cart.html">Shop Cart</a></div>
                <div class="screen__item"><a class="screen__link" href="shop-checkout.html">Shop Checkout</a></div>
                <div class="screen__item"><a class="screen__link" href="shop-account.html">Shop Account</a></div>
            </div>
        </div>
        <div class="menu-dropdown__inner" data-value="screen-six">
            <div class="screen screen--sub">
                <div class="screen__heading">
                    <h6 class="screen__back">
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                        <span>Language</span>
                    </h6>
                </div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">English</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Deutsch</a></div>
                <div class="screen__item"><a class="screen__link" href="javascript:void(0);">Ukrainian</a></div>
            </div>
        </div>
    </div>
    <!-- menu dropdown end-->
    <!-- header start-->
    <header class="page-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-8 col-md-6 col-lg-3 d-flex align-items-center">
                    <!-- menu-trigger start-->
                    <div class="hamburger d-none d-md-inline-block">
                        <div class="hamburger-inner"></div>
                    </div>
                    <!-- menu-trigger end-->
                    <div class="page-header__logo"><a href="index.html"><img src="img/logo_black.png" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-flex justify-content-center">
                    <!-- main menu start-->
                    <ul class="main-menu">
                        <li class="main-menu__item main-menu__item--has-child main-menu__item--active"><a
                                class="main-menu__link" href="javascript:void(0);"><span>Home</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                <li class="item--active"><a href="index.html"><span>Home</span></a></li>
                                <li><a href="front_2.html"><span>Home 2</span></a></li>
                                <li><a href="front_3.html"><span>Home 3</span></a></li>
                                <li><a href="front_4.html"><span>Home 4</span></a></li>
                                <li><a href="front_5.html"><span>Home 5</span></a></li>
                                <li><a href="front_6.html"><span>Home 6</span></a></li>
                            </ul>
                            <!-- sub menu end-->
                        </li>
                        <li class="main-menu__item main-menu__item--has-child"><a class="main-menu__link"
                                                                                  href="javascript:void(0);"><span>Pages</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list sub-list--style-2">
                                <li><a href="about.html"><span>About Us</span></a></li>
                                <li><a href="team.html"><span>Team</span></a></li>
                                <li><a href="services.html"><span>Services</span></a></li>
                                <li><a href="service-details.html"><span>Service Details</span></a></li>
                                <li><a href="careers.html"><span>Careers</span></a></li>
                                <li><a href="warehouse.html"><span>Warehouse</span></a></li>
                                <li><a href="request.html"><span>Request Quote</span></a></li>
                                <li><a href="calculator.html"><span>Calculator</span></a></li>
                                <li><a href="documents.html"><span>Documents</span></a></li>
                                <li><a href="trucks.html"><span>Trucks</span></a></li>
                                <li><a href="locations.html"><span>Locations</span></a></li>
                                <li><a href="contacts.html"><span>Contacts</span></a></li>
                                <li><a href="gallery.html"><span>Gallery Masonry</span></a></li>
                                <li><a href="gallery_2.html"><span>Gallery Grid</span></a></li>
                                <li><a href="blog.html"><span>Blog</span></a></li>
                                <li><a href="blog-post.html"><span>Blog Post</span></a></li>
                                <li><a href="faq.html"><span>F.A.Q</span></a></li>
                                <li><a href="404.html"><span>404</span></a></li>
                                <li><a href="typography.html"><span>Typography</span></a></li>
                            </ul>
                            <!-- sub menu end-->
                        </li>
                        <li class="main-menu__item main-menu__item--has-child"><a class="main-menu__link"
                                                                                  href="javascript:void(0);"><span>Services</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                <li><a href="service-details.html"><span>Truck Freight</span></a></li>
                                <li><a href="service-details.html"><span>Ship Freight</span></a></li>
                                <li><a href="service-details.html"><span>Plane Freight</span></a></li>
                                <li><a href="service-details.html"><span>Train Freight</span></a></li>
                            </ul>
                            <!-- sub menu end-->
                        </li>
                        <li class="main-menu__item main-menu__item--has-child"><a class="main-menu__link"
                                                                                  href="javascript:void(0);"><span>Shop</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                <li><a href="shop.html"><span>Shop</span></a></li>
                                <li><a href="shop-single.html"><span>Shop Single</span></a></li>
                                <li><a href="shop-cart.html"><span>Shop Cart</span></a></li>
                                <li><a href="shop-checkout.html"><span>Shop Checkout</span></a></li>
                                <li><a href="shop-account.html"><span>Shop Account</span></a></li>
                            </ul>
                            <!-- sub menu end-->
                        </li>
                        <li class="main-menu__item main-menu__item--has-child"><a class="main-menu__link"
                                                                                  href="javascript:void(0);"><span>Elements</span></a>
                            <!-- sub menu start-->
                            <ul class="main-menu__sub-list">
                                <li><a href="accordion.html"><span>Accordion</span></a></li>
                                <li><a href="alerts.html"><span>Alerts</span></a></li>
                                <li><a href="counters.html"><span>Counters</span></a></li>
                                <li><a href="tabs.html"><span>Tabs</span></a></li>
                                <li><a href="pricing.html"><span>Pricing Plan</span></a></li>
                                <li><a href="tables.html"><span>Tables</span></a></li>
                                <li><a href="forms.html"><span>Form</span></a></li>
                                <li><a href="info-blocks.html"><span>Info Blocks</span></a></li>
                                <li><a href="icons.html"><span>Icons</span></a></li>
                            </ul>
                            <!-- sub menu end-->
                        </li>
                    </ul>
                    <!-- main menu end-->
                </div>
                <div class="col-4 col-md-6 col-lg-4 d-flex justify-content-end align-items-center">
                    <div class="lang-block">
                        <div class="lang-icon"><img class="img--contain" src="img/gbr.png" alt="img"/></div>
                        <!-- lang select start-->
                        <ul class="lang-select">
                            <li class="lang-select__item lang-select__item--active"><span>En</span>
                                <ul class="lang-select__sub-list">
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">Deutsch</a></li>
                                    <li><a href="#">Russian</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- lang select end-->
                    </div>
                    <a class="button button--filled" href="#">Get a Quote</a>
                    <!-- menu-trigger start-->
                    <div class="hamburger d-inline-block d-md-none">
                        <div class="hamburger-inner"></div>
                    </div>
                    <!-- menu-trigger end-->
                </div>
            </div>
        </div>
    </header>
    <!-- header end-->