{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
    <!-- header end-->
    <main class="main">
        <!-- section start-->
        <section class="hero-block">
            <picture>
                <source srcset="{% static 'img/blog.jpg' %}" media="(min-width: 992px)"/>
                <img class="img--bg" src="{% static 'img/blog.jpg' %}" alt="img"/>
            </picture>
            <div class="hero-block__layout"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="align-container">
                            <div class="align-container__item"><span
                                    class="hero-block__overlay">{% trans "GFT Logistics" %}</span>
                                <h1 class="hero-block__title">{% trans "Kariyer" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->

        <!-- section start-->
        <section class="section action-section pb-0">
            <div class="action-section__bg" style="height: 491px"><img class="img--bg"
                                                                       src="{% static 'img/action-section (1).jpg' %}"
                                                                       alt="img"/>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="heading bottom-40">
                            <h3 class="heading__title">{% trans "Herkesin bir yolu, bir hikayesi vardır." %}
                                <br/>{% trans "Senin hikayeni birlikte yazalım." %}</h3>
                        </div>
                    </div>
                    <div class="col-lg-6 top-40 top-lg-0">
                        <p class="bottom-0">

                            {% blocktranslate %}Ekibimize katılacak yetenekli ve yetkin kişileri arıyoruz. Sen de
                                ekibimizin bir üyesi olmak istiyorsan başvuru formunu doldur. {% endblocktranslate %}
                        </p>


                    </div>


                </div>

            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section">
            <div class="container " style="margin-top: -5%;">
                <div class="row">
                    <div class="col-lg-7">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">{% trans "Gönder" %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </section>
        <!-- section end-->
    </main>
    <!-- footer start-->
{% endblock content %}
{% block extra_script %}


{% endblock extra_script %}