{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
    <!-- header end-->
    <main class="main">
        <!-- section start-->
        <section class="hero-block">
            <picture>
                <source srcset="{% static 'img/kurumsalBig.jpg' %}" media="(min-width: 992px)"/>
                <img class="img--bg" src="{% static 'img/kurumsalBig.jpg' %}" alt="img"/>
            </picture>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="align-container">
                            <div class="align-container__item"><span
                                    class="hero-block__overlay">{% trans "GFT Logistics" %}</span>
                                <h1 class="hero-block__title">{% trans "Kurumsal" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5"><img class="w-100 bottom-50" src="{% static 'img/section_2.jpg' %}"
                                                        alt="img"/>
                        <div class="img-badge  " style="background-color: #ee2737"><img class="img-badge__img"
                                                                                        src="{% static 'img/badge-img.png' %}"
                                                                                        alt="img"/>
                            <h3 class="img-badge__title bottom-0">{% trans "Dünya Çapında " %}
                                <br/>{% trans "Acente Ağı" %}</h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 offset-xl-1">
                        <div class="heading bottom-20"><span class="heading__pre-title">{% trans "Hakkımızda" %} </span>
                            <h3 class="heading__title">{% trans "Ticaretin merkezi " %} <span
                                    class="color--green">{% trans "İstanbul" %}</span> {% trans "’da kurulduk" %}</h3>
                        </div>
                        <p>{% blocktranslate %}Onlarca yılın getirmiş olduğu deneyimimiz, sektöre olan tutkumuz ve
                            yenilikçi yaklaşım tarzımız ile kurulduğumuz günden itibaren portföyümüzdeki firmalara
                            hizmet sağlamaktan mutluluk duyuyoruz. {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Deneyimli kadromuz ve dünya çapında acente ağlarımızla kara, deniz, hava
                            ve demiryolu taşımacılığında sınırları aşan hizmetler
                            veriyoruz.  {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Ekonominin lokomotif unsurlarından olan ithalat ve ihracat yapan firmalar
                            için ürün tedarik süreçlerini ve depolama hizmetlerini de kapsayan katma değerli çözümler
                            sunuyoruz.  {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Geniş coğrafi erişim sağlayan dünya çapındaki acente ağımızla,  operasyon
                            gücümüzü daima artırıyoruz.  {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Üstlendiğimiz hayati bağlantı görevinin müşterilerimize daha fazla değer
                            katabilmesi için becerilerimizi daima geliştiriyoruz.  {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Özelleştirilmiş üst düzey hizmetlerimizle müşterilerimizin işlerine değer
                            katan ve onların güvenini kazanan bir çözüm sağlayıcı olmaktan gurur
                            duyuyoruz.  {% endblocktranslate %}</p>

                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section pt-0">
            <div class="container">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-lg-6 top-50 top-lg-0">
                        <div class="heading bottom-20">
                            <h3 class="heading__title">  {% trans "Vizyon" %}  </h3>
                        </div>
                        <p class="bottom-0">{% blocktranslate %}‘Sektöre Değer Kat, Sınırları Aş’ mottomuz;
                            müşterilerimizden ve acentelerimizden aldığımız güç ile lojistik ve dış ticaret ekosistemi
                            içerisinde sürdürülebilir başarıyı ve memnuniyeti sağlama konusunda taahhüdümüzün temelini
                            oluşturmaktadır.
                        {% endblocktranslate %}</p>
                        <p class="bottom-0 mt-2">{% blocktranslate %} Vizyonumuz, sürdürülebilir başarı ve memnuniyeti
                            yıldan yıla artırmaktır.
                        {% endblocktranslate %}</p>
                        <div class="heading bottom-20 mt-4">
                            <h3 class="heading__title">  {% trans "Misyon" %}  </h3>
                        </div>
                        <p class="bottom-0">{% blocktranslate %}Misyonumuz; sunduğumuz hızlı ve kaliteli çözümler ile
                            sadece lojistik hizmeti üreten değil, müşterilerimizin ticari çözüm ortağı olarak hareket
                            eden bir kurum olmak.    {% endblocktranslate %}</p>

                    </div>

                    <div class="col-lg-6 col-xl-5 offset-xl-1"><img class="w-100" src="{% static 'img/section_1.jpg' %}"
                                                                    alt="img"/></div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <!-- section start-->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12"><img src="{% static 'img/map-transx.png' %}" alt="img"/></div>
                </div>
                <div class="row offset-50">
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span
                                    class="js-counter counter__count">{% trans "8" %}</span><span
                                    class="counter__subject">{% trans "Özellik" %}</span></div>
                            <div class="counter__lower"><span
                                    class="counter__details">{% trans "Güçlü Operasyonlar İçin" %}</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span
                                    class="js-counter counter__count">{% trans "6" %}</span><span
                                    class="counter__subject">{% trans "Değer" %}</span></div>
                            <div class="counter__lower"><span
                                    class="counter__details">{% trans "En İyi Olmak İçin" %}</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span
                                    class="js-counter counter__count">{% trans "7" %}</span><span
                                    class="counter__subject">{% trans "Hizmet" %}</span></div>
                            <div class="counter__lower"><span
                                    class="counter__details">{% trans "Mutlu Müşteriler İçin" %}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section end-->


        <!-- section start-->
        <section class="section">
            <div class="container">
                <div class="row bottom-70">
                    <div class="col-12">
                        <div class="heading heading--center"><span class="heading__pre-title">{% trans "DEĞERLERİMİZ" %}</span>
                            <h3 class="heading__title">{% trans "DEĞERLERİMİZ" %}</h3>
                        </div>
                    </div>
                </div>
                <div class="row offset-50">
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                               <img src="{% static 'img/durustluk.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "Dürüstlük ve Güven" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Yaptığımız işe, birlikte çalıştığımız ekimize ve hizmet sunduğumuz müşterilerimize karşı olan dürüstlüğümüz organizasyon yapımızın temel unsurudur. Dünya çapında güven sağlamış güçlü acente ağımızla hareket etmenin sağladığı faydaya inanıyoruz. {% endblocktranslate %}</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                              <img src="{% static 'img/mukemmellik.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "Mükemmellik ve Kalite" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Özelleştirilmiş üst düzey hizmetlerimizde mükemmellik ve sürekli iyileştirmenin müşterilerimizin işlerine değer kattığına inanıyoruz. Süreç analizi, optimizasyon ve müşteri deneyimlerini baz alarak kaliteli hizmet anlayışımızı geliştiriyoruz.  {% endblocktranslate %}</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/musteri.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "Müşteri Odaklı Olma" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Lojistik, depolama ve ürün tedarikinde hizmet verdiğimiz müşterilerimizin ihtiyaçlarını tam olarak anlamak, müşterilerimiz için değer sağlamak ve onların taleplerine kaliteli ve hızlı cevap vermek önceliğimizdir. {% endblocktranslate %}</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                               <img src="{% static 'img/saygi.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "İnsana Saygı" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Yönetim ve hizmet anlayışımızın temelini insana saygı oluşturur. İletişimde şeffaf ve duyarlı davranırız. Her zaman değer verir ve can kulağıyla dinleriz. Açık fikirlilik, doğru iletişim ve saygı işimizden ayrı düşünülemez. {% endblocktranslate %}</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/sosyal.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "Sosyal Sorumluluk" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Çevreye, doğaya ve insana değer veren bir yaklaşımla hizmet sağlarız. Topluma ve çevremize karşı olan sorumluluğumuzun farkındayız. Daha iyi bir gelecek için daima katkı sunmaya çalışırız. {% endblocktranslate %}</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 text-center">
                        <div class="icon-item">
                            <div class="icon-item__img">
                              <img src="{% static 'img/etik.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title bottom-0">{% trans "Etik Çalışma" %}</h6>
                            <p class="count-item__text">{% blocktranslate %}Faaliyet gösterdiğimiz her coğrafyanın, her ülkenin yasalarına istisnasız uyarız. Etik kurallara, dürüstlük ilkelerine ve kültürel değerlere saygı gösteririz. Her zaman toplumumuza, insanımıza ve müşterimize karşı sorumlu davranırız. {% endblocktranslate %}</p>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- section end-->

    </main>
    <!-- footer start-->
{% endblock content %}
{% block extra_script %}


{% endblock extra_script %}