{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
 
{% endblock extra_css %}
{% block content %}
    <main class="main">
        <!-- promo start-->
        <div class="promo">
            <div class="promo-slider">
                <div class="promo-slider__item"  >
                    <div class=""   ></div>
                    <video id="videoid"  height="1100px"  playsinline="playsinline"  autoplay="autoplay" muted="muted" loop="loop">
                        <source   src="{% static 'img/hero_video_filter1_2.mp4' %}" type="video/mp4"
                                media="(min-width: 992px)">
                    </video>

                    <div class="align-container" style="margin-top: -992px;">
                        <div class="align-container__item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9 col-xl-7">


                                         <div class="promo-slider__wrapper-1"><span
                                                class="promo-slider__overlay">{% trans "GFT Logistics" %}</span>
                                            <h2 class="promo-slider__title">{% trans "Sektöre Değer Kat, " %}<br>{% trans "Sınırları Aş" %}</h2>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="promo__lower">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-lg-7 col-xl-8 d-flex align-items-start">
                            <div class="promo-slider__nav"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- promo end-->

        <!-- section start-->
        <section class="section"    >
            <div class="container">
                <div class="row bottom-70">
                    <div class="col-lg-4">
                        <div class="heading bottom-40"><span class="heading__pre-title">{% trans "HİZMETLERİMİZ" %}</span>
                            <h3 class="heading__title">{% trans "GFT Logistics" %}</h3><span class="heading__layout">{% trans "Hizmetlerimiz" %}</span>
                        </div>
                        <a class="button button--green d-none d-lg-inline-block" href="#" style="border-color: #ee2737"><span>{% trans "Tüm Hizmetler" %}</span>
                            <svg class="icon">
                                <use xlink:href="#arrow"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg-8">

                        <p class="bottom-0" style="margin-top: 15%">{% blocktranslate %}Onlarca yılın getirmiş olduğu deneyimimiz, sektöre olan tutkumuz ve yenilikçi yaklaşım tarzımız ile kurulduğumuz günden itibaren portföyümüzdeki firmalara  hizmet sağlamaktan mutluluk duyuyoruz.{% endblocktranslate  %}</p>
                    </div>
                </div>
                <div class="row offset-50">
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="count-item">
                            <div class="count-item__img"><img src="{% static 'img/front-serv_2.png' %}" alt="icon"/>
                            </div>
                            <h6 class="count-item__title"><span class="count-item__count" style="color: #d9d9d9">01</span>
                                <span>{% trans "Denizyolu Taşımacılığı" %}</span></h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="count-item">
                            <div class="count-item__img"><img src="{% static 'img/front-serv_1.png' %}" alt="icon"/>
                            </div>
                            <h6 class="count-item__title"><span class="count-item__count" style="color: #d9d9d9">02</span> <span>{% trans "Karayolu Taşımacılığı" %}</span>
                            </h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="count-item">
                            <div class="count-item__img"><img src="{% static 'img/front-serv_3.png' %}" alt="icon"/>
                            </div>
                            <h6 class="count-item__title"><span class="count-item__count" style="color: #d9d9d9">03</span>
                                <span>{% trans "Havayolu Taşımacılığı" %}</span></h6>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-3">
                        <div class="count-item">
                            <div class="count-item__img"><img src="{% static 'img/front-serv_4.png' %}" alt="icon"/>
                            </div>
                            <h6 class="count-item__title"><span class="count-item__count" style="color: #d9d9d9">04</span>
                                <span>{% trans "Demiryolu Taşımacılığı" %}</span></h6>
                        </div>
                    </div>
                </div>
                <div class="row top-70 d-flex d-lg-none">
                    <div class="col-12 text-center"><a class="button button--green" href="#"><span>{% trans "GFT Logistics" %}{% trans "Tüm Hizmetler" %}</span>
                        <svg class="icon">
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </a></div>
                </div>
            </div>
        </section>
        <!-- section end-->

        <!-- section start-->
        <section class="section front-about">
            <div class="front-about__bg"><img class="section--bg t50 r0" src="{% static 'img/testimonials-bg.png' %}"
                                              alt="img"/></div>
            <div class="front-about__img"><img class="img--bg" src="{% static 'img/about_img.jpg' %}" alt="img"/></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 offset-xl-1 d-none d-xl-flex offset-50" >
                        <div class="counter counter--filled" style="background-color: #ee2737 ">
                            <div class="counter__top"><span
                                    class="js-counter counter__count">{% trans "100" %}</span><span
                                    class="counter__subject" >{% trans "'lerce" %}</span></div>
                            <div class="counter__lower"><span
                                    class="counter__details" style="color: white; font-size: 40px">{% trans "Lokasyon" %}</span></div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="heading heading--white"><span
                                class="heading__pre-title">{% trans "GFT Logistics Hakkında" %}</span>
                            <h3 class="heading__title"> {% trans "Ticaretin merkezi olan" %} <span
                                    class="color--green" style="color:#ee2737">{% trans "İstanbul" %}</span>{% trans "’da kurulduk." %}</h3>
                        </div>
                        <p>{% blocktranslate %}Deneyimli kadromuz ve dünya çapında acente ağlarımızla kara, deniz, hava
                            ve demiryolu taşımacılığında sınırları aşan hizmetler veriyoruz. {% endblocktranslate %}</p>
                        <p>{% blocktranslate %}Ekonominin lokomotif unsurlarından olan ithalat ve ihracat yapan firmalar
                            için ürün tedarik süreçlerini ve depolama hizmetlerini de kapsayan katma değerli çözümler
                            sunuyoruz.{% endblocktranslate %}</p><a
                            class="button button--white" href="{% url 'corporate' %}"><span>{% trans "Daha Fazla" %}</span>
                        <svg class="icon">
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section bg--lgray">
            <div class="container">
                <div class="row align-items-end bottom-70">
                    <div class="col-lg-5 col-xl-4">
                        <div class="heading"><span class="heading__pre-title">{% trans "GFT Logistics" %}</span>
                            <h3 class="heading__title">{% trans "Güçlü " %} <span
                                    class="color--green" style="color: #ee2737">{% trans "Özelliklerimiz" %}</span>
                            </h3><span class="heading__layout layout--lgray">{% trans "Özelliklerimiz" %}</span>
                        </div>
                    </div>
                </div>
                <div class="row offset-50">
                    <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img ">
                                <img src="{% static 'img/Geniş-Acenta-Agi.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title"> {% trans "Geniş Acente Ağı" %} </h6>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/Deneyimli-Ekipler.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Deneyimli Ekipler" %}</h6>

                        </div>
                    </div>
                  <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/Kapidan-Kapiya-cozum.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Kapıdan Kapıya Çözüm " %}</h6>

                        </div>
                    </div>
                     <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/Entegre-Hizmet.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Entegre Hizmet" %}</h6>

                        </div>
                    </div>
                     <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/surekli_gelisim.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Sürekli Gelişim" %}</h6>

                        </div>
                    </div>

                     <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                 <img src="{% static 'img/Müsteri-Destegi.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Müşteri Desteği" %}</h6>

                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/Musteri-Memnuniyeti.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Müşteri Memnuniyeti" %}</h6>

                        </div>
                    </div>
                         <div class="col-lg-3 col-6">
                        <div class="icon-item">
                            <div class="icon-item__img">
                                <img src="{% static 'img/guvenirlik.png' %}" alt="icon"/>
                            </div>
                            <h6 class="icon-item__title">{% trans "Güvenilirlik" %}</h6>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12"><img src="{% static 'img/map-transx.png' %}" alt="img"/></div>
                </div>
                <div class="row offset-50">
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span class="js-counter counter__count">{% trans "8" %}</span><span
                                    class="counter__subject">{% trans "Özellik" %}</span></div>
                            <div class="counter__lower"><span class="counter__details">{% trans "Güçlü Operasyonlar İçin" %}</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span class="js-counter counter__count">{% trans "6" %}</span><span
                                    class="counter__subject">{% trans "Değer" %}</span></div>
                            <div class="counter__lower"><span
                                    class="counter__details">{% trans "En İyi Olmak İçin" %}</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center">
                        <div class="counter counter--blue">
                            <div class="counter__top"><span class="js-counter counter__count">{% trans "7" %}</span><span
                                    class="counter__subject">{% trans "Hizmet" %}</span></div>
                            <div class="counter__lower"><span class="counter__details">{% trans "Mutlu Müşteriler İçin" %}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section start-->
        <section class="section"><img class="img--bg" src="{% static 'img/action-bg.jpg' %}" alt="bg"/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-6">
                        <div class="form-wrapper">
                            <!-- contact form start-->
                            <form class="form contact-form" id="ajax-form" action="javascript:void(0);" method="post"
                                  autocomplete="off">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="contact-form__title">{% trans "İletişim Formu" %}</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form__field" type="text" name="name" placeholder="{% trans "Adınız Soyadınız" %}"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form__field" type="email" name="email" placeholder="{% trans "E- Posta Adresiniz" %}"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form__field" type="tel" name="phone" placeholder="{% trans "Telefonunuz" %}"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form__field" type="text" name="subject" placeholder="{% trans "Konu" %}"/>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form__field form__message" name="message"
                                                  placeholder="{% trans "Mesaj" %}"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="button button--green" type="submit"><span>{% trans "Mesajı Gönder" %}</span>
                                            <svg class="icon">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <div class="alert alert--success alert--filled">
                                            <div class="alert__icon">
                                                <svg class="icon">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </div>
                                            <p class="alert__text"><strong>Well done!</strong> Your form has been sent
                                            </p><span class="alert__close">
														<svg class="icon">
															<use xlink:href="#close"></use>
														</svg></span>
                                        </div>
                                        <div class="alert alert--error alert--filled">
                                            <div class="alert__icon">
                                                <svg class="icon">
                                                    <use xlink:href="#close"></use>
                                                </svg>
                                            </div>
                                            <p class="alert__text"><strong>Oh snap!</strong> Your form has not been sent
                                            </p><span class="alert__close">
														<svg class="icon">
															<use xlink:href="#close"></use>
														</svg></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- contact form end-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
    </main>
{% endblock content %}
{% block extra_script %}

<script type="text/javascript">
    document.getElementById('videoid').play();
</script>
{% endblock extra_script %}