{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
    <!-- header end-->
    <main class="main">
        <!-- section start-->
        <section class="hero-block">
            <picture>
                <source srcset="{{ hizmet.resim_url }}" media="(min-width: 992px)"/>
                <img class="img--bg" src="{{ hizmet.resim_url }}" alt="img"/>
            </picture>
            <div class="hero-block__layout"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="align-container">
                            <div class="align-container__item"><span
                                    class="hero-block__overlay">{% trans "GFT Logistics" %}</span>
                                <h1 class="hero-block__title">{{ hizmet }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->
        <!-- section start-->
        <section class="section service-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-9"><img class="service-details__img"
                                                        src="{{ hizmet.resim1_url }}" alt="img"/>
                        <h4 class="service-details__title">{{ hizmet }}</h4>
                        <p>{{ hizmet.detay }}</p>

                        <h4 class="service-details__title">{% trans "Sunulan Hizmetler" %}</h4>
                        <div class="row bottom-50 top-40">
                            {% for sunulan in hizmet.sunulanHizmet.all %}
                                <div class="col-sm-6 col-md-5 col-xl-4">

                                    <ul class="list list--check list--reset">
                                        <li class="list__item">{{ sunulan }}</li>
                                    </ul>

                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-lg-4 col-xl-3 top-50 top-lg-0">
                        <div class="row">
                            <div class="col-md-6 col-lg-12 bottom-50">
                                <h5 class="service-details__subtitle">{% trans "Hizmetler" %}</h5>
                                <ul class="category-list list--reset">
                                    {% for hizmet1 in menuList %}
                                        {% if hizmet1 == hizmet %}
                                            <li class="category-list__item item--active"><a class="category-list__link"
                                                                                            href="{% url 'services' hizmet1.slug %}">{{ hizmet1 }}</a>
                                            </li>
                                        {% else %}
                                            <li class="category-list__item"><a class="category-list__link"
                                                                               href="{% url 'services' hizmet1.slug %}">{{ hizmet1 }}</a></li>

                                        {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end-->

    </main>
    <!-- footer start-->
{% endblock content %}
{% block extra_script %}


{% endblock extra_script %}